{% extends 'base.html.twig' %}

{% block title %}
    Mot de passe oublié
{% endblock %}


{% block body %}
    <div class="body">
        <div>
            {% for label, messages in app.flashes %}
                {% for message in messages  %}
                    <div class="alert alert-{{ label }} alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endfor %}
            {% endfor %}
            <div class="col-12">
                {{ form(form) }}
            </div>
        </div>
    </div>
{% endblock %}