<div class="col-2">
    <div class="col-12 panel-card text-center">
        <img src="{{ asset('img/about-bg.jpg') }}" alt="" class="sidebar-img-profil">
        <div>Nom prénom</div>
        <div class="margin">
            <a href="" class="btn btn-danger">Se deconnecter</a>
        </div>
    </div>
    <div class="col-12 panel-card">
        <span>
            Informations
        </span>
    </div>
</div>