{% extends 'user/layout.html.twig' %}

{% block user_block %}
    <div class="col-9">
        <div class="card col-3">
            <h3>
                <i>Mes jeux</i>
            </h3>
            <div class="col-12 vertical-margin">
                <img src="{{ asset('img/reseaux-sociaux/twitch.svg') }}" alt="" class="icon50">
                Mon jeux...
            </div>
            <div class="col-12 vertical-margin">
                <img src="{{ asset('img/reseaux-sociaux/twitch.svg') }}" alt="" class="icon50">
                Mon jeux...
            </div>ù
        </div>
    </div>
{% endblock %}

{% block title %}

{% endblock %}

