{% extends 'user/layout.html.twig' %}

{% block user_block %}
    <div class="col-9">
        <div class="col-2">
            <img src="{{ asset('img/jeux/fortnite.png') }}" alt="" style="width: 150px;">
        </div>
    </div>
{% endblock %}

{% block title %}

{% endblock %}

