{% extends 'layout.html.twig' %}

{% block body %}
    {{ render(controller('App\\Controller\\IndexController::sidebar')) }}
    <div class="col-9">
        reseaux sociaux
    </div>
{% endblock %}

{% block title %}

{% endblock %}

