{% extends 'layout.html.twig' %}

{% block body %}
    {{ render(controller('App\\Controller\\IndexController::sidebar')) }}
    <div class="col-9">
        <div class="col-12 panel-card panel-user">
            <img src="{{ asset('img/reseaux-sociaux/facebook.svg') }}" alt="Mon compte facebook">
            <img src="{{ asset('img/reseaux-sociaux/twitter.svg') }}" alt="Mon compte twitter">
            <img src="{{ asset('img/reseaux-sociaux/twitch.svg') }}" alt="Mon chaine twich">
        </div>
        <div class="col-12"></div>
        <div class="col-12"></div>
    </div>
{% endblock %}

{% block title %}

{% endblock %}

